<h4>
  Details of your selected party:
</h4>
<form>
  <label>
    Party Name:
  </label>
  <input type="text" ng-model="partyDetails.party.name" />
  <label>
    Party Description:
  </label>
  <input type="text" ng-model="partyDetails.party.description" />
  <label>
    Public party?
  </label>
  <input type="checkbox" ng-model="partyDetails.party.public"/>
  <button ng-click="partyDetails.save()">Save!</button>
</form>

<button ui-sref="parties">&lt;- Back</button>

<ul>
  Users:
  <li ng-repeat="user in partyDetails.users">
    <div>{{user.emails[0].address}}</div>
  </li>
</ul>