<div class="fluid-container">
  
  <div class="row">
    <div class="col-md-12">
      <party-add ng-show="partiesList.isLoggedIn"></party-add>

      <div class="alert alert-warning" role="alert" ng-hide="partiesList.isLoggedIn">
        <strong>Log in to create a party!</strong>  
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>List of Parties:</h3>
      <form class="form-inline">
        <div class="form-group">
          <input type="search" ng-model="partiesList.searchText" placeholder="Search" />
        </div>
        <parties-sort on-change="partiesList.sortChanged(sort)" property="name" order="1"></parties-sort>
      </form>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul class="parties">
        <li dir-paginate="party in partiesList.parties | itemsPerPage: partiesList.perPage" total-items="partiesList.partiesCount">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="party-name">
                <a ui-sref="partyDetails({partyId: party._id})">
                  {{party.name}}
                </a>
              </h3>
              <p>
                {{party.description}}
              </p>
            </div>
            <div class="col-sm-4">
              <remove-party party="party" ng-show="partiesList.isOwner(party)"></remove-party>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <party-rsvp party="party" ng-show="partiesList.isLoggedIn"></party-rsvp>
              <div class="alert alert-warning" role="alert" ng-hide="partiesList.isLoggedIn">
                <strong>Warning!</strong>
                <i>Sign in to RSVP for this party.</i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <party-creator party="party"></party-creator>
            </div>
            <div class="col-md-8">
              <party-rsvp-list rsvps="party.rsvps"></party-rsvp-list>
            </div>
          </div>
        </li>
      </ul>

      <dir-pagination-controls on-page-change="partiesList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
    <div class="col-md-6">
      <parties-map parties="partiesList.parties"></parties-map>
    </div>
  </div>

</div>




